<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <div class="icon-box">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="back()">
          <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
        </button>
      </div>
      <span class="title">{{title}}</span>
      <div class="icon-box" *ngIf="router.url=='/'">
        <button
          type="button"
          aria-label="Home"
          mat-icon-button
          routerLink="">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="icon-box" *ngIf="router.url!='/'">
        <button
          type="button"
          aria-label="Add"
          mat-icon-button 
          [matMenuTriggerFor]="addMenu">
          <mat-icon style="color: white">add</mat-icon>
        </button>
        <mat-menu #addMenu xPosition="before">
          <button mat-menu-item class="menu" (click)="addItem()">普通收藏</button>
          <button mat-menu-item class="menu" (click)="addItemFromPage()">来自网页</button>
        </mat-menu>
        <button
          type="button"
          aria-label="Home"
          mat-icon-button
          routerLink="">
          <mat-icon>home</mat-icon>
        </button>
        <button
          type="button"
          aria-label="More"
          mat-icon-button
          [matMenuTriggerFor]="mainMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #mainMenu xPosition="before">
          <button mat-menu-item class="menu" [matMenuTriggerFor]="sortMenu">排序</button>
          <button mat-menu-item class="menu" [matMenuTriggerFor]="proxyMenu">代理</button>
          <button mat-menu-item class="menu" [matMenuTriggerFor]="settingMenu">设置</button>
          <button mat-menu-item class="menu" (click)="logout()">注销</button>
        </mat-menu>
        <mat-menu #sortMenu xPosition="before">
          <button mat-menu-item
                  *ngFor="let item of orderMenuItems"
                  [class.menu-select]="item.isSelected"
                  (click)="changeOrder(item.order)">
            <mat-icon>{{item.icon}}</mat-icon>
            {{item.title}}
          </button>
        </mat-menu>
        <mat-menu #proxyMenu xPosition="before">
          <button mat-menu-item
                  *ngFor="let proxy of proxyMenuItems"
                  [class.menu-select]="proxy.isSelected"
                  (click)="changeProxyMode(proxy.mode)">
            {{proxy.title}}
          </button>
        </mat-menu>
        <mat-menu #settingMenu xPosition="before">
          <button mat-menu-item class="menu" (click)="setMinImageSize()">最小图像大小</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
