<div class="grid-container">
  <div class="space"></div>
  <div class="grid-container1">
    <div class="title">
      <h1 class="mat-h1">我的列表</h1>
      <button mat-icon-button
              class="list-btn"
              [routerLink]="['/list/default']">
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button
              class="list-btn"
              [routerLink]="['/list/new']">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </div>
    <div class="loading-icon" *ngIf="isLoading">
      <mat-icon>autorenew</mat-icon>正在加载
    </div>
    <mat-grid-list [cols]="cols" rowHeight="250px">
      <mat-grid-tile *ngFor="let list of lists | async">
        <mat-card class="list-card" [routerLink]="['/list',list.id]">
          <div class="list-card-head" *ngIf="!list.img"></div>
          <div class="list-card-body">
            <div class="list-card-image" [style.background-image]="'url('+list.img+')'" *ngIf="list.img"></div>
            <div class="list-card-text">
              <div class="list-card-title" *ngIf="!list.img">{{list.title}}</div>
              <div class="list-card-info" *ngIf="list.info&&!list.img">{{list.info}}</div>
            </div>
          </div>
          <div class="list-card-bottom">
            <span  class="list-card-footer">{{list.img?list.title:''}}</span>
            <span  class="list-card-time">{{list.createdTime | date:'yyyy-MM-dd'}}</span>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="space"></div>
</div>
