<div class="dialog-panel">
  <div *ngIf="item.img">
    <a target="_blank" [href]="item.img">
      <img class="dialog-image" [src]="item.img" alt="Image">
    </a>
  </div>
  <div class="dialog-text-box">
    <p class="dialog-text dialog-title">{{item.title}}</p>
    <p class="dialog-text dialog-info">{{item.info}}</p>
    <p class="dialog-text dialog-url" *ngIf="item.url">
      <mat-icon>link</mat-icon>
      <a [href]="item.url">{{getDomain(item.url)}}</a>
    </p>
    <p class="dialog-text dialog-time">{{item.createdTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
  </div>
</div>
