<button mat-raised-button
        class="edit-btn"
        (click)="edit()">
  <mat-icon>edit</mat-icon>
</button>
<div class="dialog-panel">
  <div *ngIf="item.img">
    <a target="_blank" [href]="item.img">
      <img class="dialog-image" [src]="item.img" alt="Image">
    </a>
  </div>
  <div class="dialog-text-box">
    <p class="dialog-text dialog-title">{{item.title}}</p>
    <p class="dialog-text dialog-info">{{item.info}}</p>
    <p class="dialog-text dialog-url" *ngIf="item.url">
      <mat-icon>link</mat-icon>
      <a [href]="item.url">{{getDomain(item.url)}}</a>
    </p>
    <p class="dialog-text dialog-time">{{item.createdTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
  </div>
</div>
<div class="dialog-actions" (window:keydown)="keyDown($event)" *ngIf="items">
  <button mat-raised-button class="dialog-button" (click)="before()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-raised-button class="dialog-button" mat-dialog-close>{{index}}</button>
  <button mat-raised-button class="dialog-button" (click)="next()">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
