<div>
  <iframe class="iframe"
          [class.iframe-open]="isOpen"
          [class.iframe-close]="!isOpen"
          [src]="src"></iframe>
  <button mat-icon-button (click)="isOpen=!isOpen">
    <mat-icon *ngIf="!isOpen">arrow_drop_down</mat-icon>
    <mat-icon *ngIf="isOpen">arrow_drop_up</mat-icon>
  </button>
</div>
<div class="icon-box">
  <button mat-raised-button
          class="round-btn"
          (click)="selectAll()">
    <mat-icon>select_all</mat-icon>
  </button>
  <button mat-raised-button
          class="round-btn"
          (click)="saveToList()">
    <mat-icon>save</mat-icon>
  </button>
</div>
<div>
  <div class="grid-container">
    <ngx-masonry
      [useImagesLoaded]="false"
      [options]="masonryOptions"
      class="masonry-container"
      [style.width.px]="masonryWidth"
      #masonry>
      <div ngxMasonryItem
           *ngFor="let image of images;index as index"
           class="list-card-container"
           [style.width.px]="columnWidth">
        <app-item-card
          [item]="image"
          [maxLength]="this.columnWidth * 0.3"
          [selected]="image.selected"
          (onLoad)="onImageLoad($event, index)"
          (click)="image.selected=!image.selected"
        ></app-item-card>
      </div>
    </ngx-masonry>
  </div>
  <div class="loading-icon" *ngIf="isLoading">
    <mat-icon>autorenew</mat-icon>正在加载
  </div>
</div>
