<div class="dialog-panel">
  <div *ngIf="item.img">
    <a [href]="proxyService.proxy(item.img)" target="_blank">
      <img class="dialog-image" [src]="proxyService.proxy(item.img)" alt="Image">
    </a>
  </div>
  <div class="dialog-text-box">
    <p class="dialog-text dialog-title">{{item.title}}</p>
    <p class="dialog-text dialog-info">{{item.info}}</p>
    <p class="dialog-text dialog-url" *ngIf="item.url">
      <mat-icon>link</mat-icon>
      <a [href]="item.url" target="_blank">{{getDomain(item.url)}}</a>
    </p>
    <p class="dialog-text dialog-time">{{item.createdTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
  </div>
  <div *ngIf="item.images">
    <div *ngFor=" let image of item.images">
      <a [href]="proxyService.proxy(image.url)" target="_blank">
        <img class="dialog-image" [src]="proxyService.proxy(image.url)" alt="Image">
      </a>
      <p class="dialog-image-info">{{image.info}}</p>
    </div>
  </div>
</div>
