.dialog-panel {
  max-width: 800px;
  text-align: center;
}

.dialog-image-box {
  margin-bottom: 8px;
}

.dialog-image {
  max-width: 100%;
  cursor: pointer;
}

.dialog-image-info {
  margin: 0 12px 12px;
  color: #323232;
}

.dialog-text-box {
  word-break: break-word;
}

.dialog-text {
  margin: 12px;
}

.dialog-title {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  word-wrap:break-word;
}

.dialog-info {
  color: #323232;
}

.dialog-url {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-time {
  font-size: 0.8em;
  color: gray;
}

.dialog-actions {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 18px;
  left: 0;
}

.dialog-button {
  margin: 0 9px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.round-btn {
  min-width: 0;
  padding: 0;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 0 0 10px;
}
