<div class="grid-container">
  <div class="space"></div>
  <div class="grid-container1">
    <div class="list-title">
      <h1 class="mat-h1">{{list.title}}</h1>
      <button mat-icon-button
              class="edit-btn"
              [routerLink]="['/list', list.id, 'edit']">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <h4 class="mat-h4 list-info" *ngIf="list.info">{{list.info}}</h4>
    <mat-grid-list [cols]="cols" rowHeight="250px">
      <mat-grid-tile *ngFor="let item of items | async;index as index" (click)="openItemDialog(index)">
        <mat-card class="list-card">
          <div class="list-card-content">
            <div class="list-card-image" [style.background-image]="'url('+item.img+')'" *ngIf="item.img"></div>
            <div class="list-card-text">
              <div class="list-card-text-title">{{(item.title||item.info)?item.title:(item.createdTime | date:'yyyy-MM-dd')}}</div>
              <div class="list-card-text-info" *ngIf="item.info">{{item.info?item.info:''}}</div>
            </div>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="space"></div>
</div>
