<div class="infinite-scroll"
     infinite-scroll
     [infiniteScrollDistance]="0"
     [infiniteScrollThrottle]="300"
     [scrollWindow]="false"
     (scrolled)="loadMoreItems()">
  <div class="grid-container">
    <div class="list-title-container">
      <h1 class="list-title">{{list.title}}</h1>
      <div class="icon-box">
        <button mat-raised-button
                class="round-btn"
                (click)="selectAll()"
                *ngIf="selectMode">
          <mat-icon>select_all</mat-icon>
        </button>
        <button mat-raised-button
                class="round-btn"
                (click)="deleteSelected()"
                *ngIf="selectMode">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button
                class="round-btn"
                [matMenuTriggerFor]="moveMenu"
                *ngIf="selectMode">
          <mat-icon>style</mat-icon>
        </button>
        <mat-menu #moveMenu xPosition="before" yPosition="above">
          <button mat-menu-item (click)="createList()">新建列表</button>
          <button mat-menu-item *ngFor="let l of lists" (click)="moveSelected(l)">{{l.title}}</button>
        </mat-menu>
        <button mat-raised-button
                class="round-btn"
                [matMenuTriggerFor]="addMenu"
                *ngIf="!selectMode">
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #addMenu xPosition="before">
          <button mat-menu-item class="menu" (click)="appComponent.addItem()">普通收藏</button>
          <button mat-menu-item class="menu" (click)="appComponent.addItemFromPage()">来自网页</button>
        </mat-menu>
        <button mat-raised-button
                class="round-btn"
                (click)="toggleSelectMode()">
          <mat-icon>collections_bookmark</mat-icon>
        </button>
      </div>
      <button mat-icon-button
              class="icon-btn"
              *ngIf="list.id!==0"
              [routerLink]="['/list', list.id, 'edit']">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <h4 class="mat-h4 list-info" *ngIf="list.info">{{list.info}}</h4>
    <ngx-masonry
      [useImagesLoaded]="false"
      [options]="masonryOptions"
      class="masonry-container"
      [style.width.px]="masonryWidth"
      #masonry>
      <div ngxMasonryItem
           *ngFor="let item of loadedItems;index as index"
           class="list-card-container"
           [style.width.px]="columnWidth">
        <mat-card class="list-card"
                  [class.list-card-selected]="selectMode&&item.selected"
                  (click)="selectMode?item.selected=!item.selected:openItemPopup(index)">
          <div class="list-card-head" *ngIf="!item.img"></div>
          <div class="list-card-body">
            <img class="list-card-image" [src]="proxyService.proxy(item.img)" *ngIf="item.img" alt="Image" (load)="updateLayout()">
            <div class="list-card-text">
              <div class="list-card-title" *ngIf="!item.img">{{getTitle(item)}}</div>
              <div class="list-card-info" *ngIf="item.info&&!item.img">{{item.info}}</div>
            </div>
          </div>
          <div class="list-card-bottom">
            <mat-icon class="list-card-url-icon" *ngIf="item.url">link</mat-icon>
            <span class="list-card-footer">{{getFooter(item)}}</span>
            <span class="list-card-time">{{item.createdTime | date:'yyyy-MM-dd'}}</span>
          </div>
        </mat-card>
      </div>
    </ngx-masonry>
  </div>
  <div class="counter" *ngIf="!isLoading" (click)="loadMoreItems()">
    - {{items.length - loadedItems.length}}/{{items.length}} -
  </div>
  <div class="loading-icon" *ngIf="isLoading||items.length!==loadedItems.length" (click)="loadMoreItems()">
    <mat-icon>autorenew</mat-icon>正在加载
  </div>
</div>
