.infinite-scroll {
  height: 100%;
  overflow: scroll;
}

.grid-container {
  margin: 0 auto;
}

.list-title-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.list-title {
  flex: 1;
}

.icon-btn {
  flex: 0 1 auto;
}

.icon-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 3;
}

.round-btn {
  min-width: 0;
  padding: 0;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 0 0 10px;
  z-index: 3;
}

.list-info {
  max-width: 1200px;
  margin: 0 auto 16px;
}

.counter {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.masonry-container {
  max-width: 100%;
  margin: 0 auto;
}

.list-card-container {
  max-width: 100%;
}

.menu {
  font-size: 16px;
  font-weight: bold;
}
