<div class="infinite-scroll"
     infinite-scroll
     [infiniteScrollDistance]="0"
     [infiniteScrollThrottle]="300"
     [scrollWindow]="false"
     (scrolled)="loadMoreItems()">
  <div class="grid-container">
    <div class="list-title-container">
      <h1 class="list-title">{{list.title}}</h1>
      <button mat-icon-button
              class="icon-btn"
              *ngIf="list.id!==0"
              [routerLink]="['/list', list.id, 'edit']">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="list-info" *ngIf="list.info">{{list.info}}</div>
    <ngx-masonry
      [useImagesLoaded]="false"
      [options]="masonryOptions"
      class="masonry-container"
      [style.width.px]="masonryWidth"
      #masonry>
      <div ngxMasonryItem
           *ngFor="let item of loadedItems;index as index"
           class="list-card-container"
           [style.width.px]="columnWidth">
        <app-item-card
          [item]="item"
          [maxLength]="this.columnWidth * 0.3"
          [selected]="this.selectMode&&item.selected"
          (onLoad)="updateLayout()"
          (click)="selectMode?item.selected=!item.selected:openItemPopup(index)"
        ></app-item-card>
      </div>
    </ngx-masonry>
  </div>
  <div class="counter" *ngIf="!isLoading" (click)="loadMoreItems()">
    - {{items.length - loadedItems.length}}/{{items.length}} -
  </div>
  <div class="loading-icon" *ngIf="isLoading||items.length!==loadedItems.length" (click)="loadMoreItems()">
    <mat-icon>autorenew</mat-icon>正在加载
  </div>
</div>
<div class="icon-box">
  <button mat-raised-button
          class="round-btn"
          (click)="selectAll()"
          *ngIf="selectMode">
    <mat-icon>select_all</mat-icon>
  </button>
  <button mat-raised-button
          class="round-btn"
          (click)="deleteSelected()"
          *ngIf="selectMode">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-raised-button
          class="round-btn"
          (click)="moveSelected()"
          *ngIf="selectMode">
    <mat-icon>style</mat-icon>
  </button>
  <button mat-raised-button
          class="round-btn"
          [matMenuTriggerFor]="addMenu"
          *ngIf="!selectMode">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #addMenu xPosition="before">
    <button mat-menu-item class="menu" (click)="appComponent.addItem()">普通收藏</button>
    <button mat-menu-item class="menu" (click)="appComponent.addItemFromPage()">来自网页</button>
  </mat-menu>
  <button mat-raised-button
          class="round-btn"
          (click)="toggleSelectMode()">
    <mat-icon>collections_bookmark</mat-icon>
  </button>
</div>
