.edit-box {
  position: relative;
}

.edit-box>div {
  max-width: 300px;
  margin: auto;
  padding: 30px 10px;
}

.loading-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.more-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.align-center {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 80px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1 0 auto;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.content-image-card {
  margin: 8px 0;
}

.content-image-viewer {
  display: flex;
}

.content-image-editor {
  margin-top: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-image {
  flex: 0 1 auto;
  width: 64px;
  height: 64px;
  background-position: center;
  background-size: cover;
}

.content-image-text-box {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-image-text {
  flex: 0 1 auto;
  color: gray;
  margin: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: center;
}
