@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.flex-dialog {
  max-width: calc(100vw - 50px);
  max-height: 80vh;
}

.medium-dialog {
  width: calc(100vw - 50px);
  max-width: 450px;
  max-height: 90vh;
}

.medium-card {
  width: calc(100vw - 50px);
  max-width: 450px;
  margin: 50px auto;
}
