<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.list.module.image.ImageMapper">
  <resultMap id="BaseResultMap" type="com.my.list.module.image.Image">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="user" jdbcType="BIGINT" property="user"/>
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime"/>
    <result column="page_title" jdbcType="VARCHAR" property="pageTitle"/>
    <result column="page_url" jdbcType="VARCHAR" property="pageUrl"/>
    <result column="image_title" jdbcType="VARCHAR" property="imageTitle"/>
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
  </resultMap>

  <!-- Single Crud -->
  <insert id="insert" keyColumn="id" keyProperty="resource.id" useGeneratedKeys="true">
    insert into images (
        id,
        user,
        ctime,
        mtime,
        page_title,
        page_url,
        image_title,
        image_url
    )
    values (
               #{resource.id,jdbcType=BIGINT},
               #{user.id,jdbcType=BIGINT},
               #{resource.ctime,jdbcType=TIMESTAMP},
               #{resource.mtime,jdbcType=TIMESTAMP},
               #{resource.pageTitle,jdbcType=VARCHAR},
               #{resource.pageUrl,jdbcType=VARCHAR},
               #{resource.imageTitle,jdbcType=VARCHAR},
               #{resource.imageUrl,jdbcType=VARCHAR}
    )
  </insert>
  <select id="select" resultMap="BaseResultMap">
    select *
    from images
    where id = #{resource.id,jdbcType=BIGINT} and user = #{user.id,jdbcType=BIGINT}
  </select>
  <update id="update">
    update images
    set id              = #{resource.id,jdbcType=BIGINT},
        user            = #{resource.user,jdbcType=BIGINT},
        mtime           = #{resource.mtime,jdbcType=TIMESTAMP},
        page_title      = #{resource.pageTitle,jdbcType=VARCHAR},
        page_url        = #{resource.pageUrl,jdbcType=VARCHAR},
        image_title     = #{resource.imageTitle,jdbcType=VARCHAR},
        image_url       = #{resource.imageUrl,jdbcType=VARCHAR}
    where id = #{resource.id,jdbcType=BIGINT} and user = #{user.id,jdbcType=BIGINT}
  </update>
  <delete id="delete">
    delete
    from images
    where id = #{id,jdbcType=BIGINT} and user = #{user.id,jdbcType=BIGINT}
  </delete>

  <!-- Search -->
  <select id="search" resultMap="BaseResultMap">
    select distinct images.*
    from images
    <where>
      <if test="includeText!=null and includeText.size()!=0">
        and
        <foreach collection="includeText" item="text" separator="and">
          (
          images.page_title like "%${text}%"
          or
          images.image_title like "%${text}%"
          )
        </foreach>
      </if>
      <if test="excludeText!=null and excludeText.size()!=0">
        and
        <foreach collection="excludeText" item="text" separator="and">
          (
          images.page_title not like "%${text}%"
          and
          images.image_title not like "%${text}%"
          )
        </foreach>
      </if>
    </where>
    limit #{limit,jdbcType=INTEGER} offset #{offset,jdbcType=INTEGER}
  </select>
  
</mapper>

  <!--  &lt;!&ndash; Batch Crud &ndash;&gt;-->
  <!--  <delete id="batchDelete">-->
  <!--    delete from images where id in-->
  <!--    <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>-->
  <!--  </delete>-->
