<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.list.mapper.PartMapper">
  <resultMap id="BaseResultMap" type="com.my.list.bean.Part">
    <id column="part_id" jdbcType="BIGINT" property="id" />
    <result column="part_parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="part_content_id" jdbcType="BIGINT" property="contentId" />
    <result column="part_content_order" jdbcType="INTEGER" property="contentOrder" />
    <result column="part_content_type" jdbcType="VARCHAR" property="contentType" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from parts
    where part_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.list.bean.Part">
    insert into parts (part_id, part_parent_id, part_content_id,
                       part_content_order, part_content_type
      )
    values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{contentId,jdbcType=LONGVARCHAR},
            #{contentOrder,jdbcType=INTEGER}, #{contentType,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.my.list.bean.Part">
    update parts
    set part_parent_id = #{parentId,jdbcType=BIGINT},
        part_content_id = #{contentId,jdbcType=BIGINT},
        part_content_order = #{contentOrder,jdbcType=INTEGER},
        part_content_type = #{contentType,jdbcType=VARCHAR}
    where part_id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from parts
    where part_id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from parts
  </select>
</mapper>
