<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.list.type.video.VideoMapper">
  <resultMap id="BaseResultMap" type="com.my.list.type.video.Video">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="video_url" jdbcType="VARCHAR" property="url" />
    <result column="video_format" jdbcType="VARCHAR" property="format" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from videos
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.list.type.video.Video" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into videos (id, video_url, video_format)
    values (#{id,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.my.list.type.video.Video">
    update videos
    set
      video_url = #{url,jdbcType=VARCHAR},
      video_format = #{format,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select *
    from videos
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from videos
  </select>
</mapper>
