.head {
  display: flex;
  flex-flow: row;
}

.title {
  flex: 1;
}

.save-btn {
  flex: 0 1 auto;
}

.tag-item {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.tag-item-create {
  margin-top: 20px;
}

.tag-item-title {
  margin-bottom: 0;
  font-size: 17px;
  font-weight: bold;
}

.tag-item-info {
  margin-top: 5px;
  color: gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clear {
  font-style: italic;
}

.tag-item-box {
  display: flex;
  flex-flow: row;
  margin-bottom: 20px;
}

.tag-item-text {
  flex: 1;
}

.tag-item-btn {
  flex: 0 0 auto;
}
